div.seminar h1.name {
    width: 100%;
    color: rgb(90,90,90);
    font-family: Courier, monospace, Courier New, Console;
    font-size: 48px;
    margin-bottom: 10px;
}

div.seminar pre.content {
    width: 100%;
    color: rgb(90,90,90);
    font-family: Courier, monospace, Courier New, Console;
    font-size: 16px;
    margin-bottom: 15px;
}

div.seminar a.button {
    margin: 3px;
}

div.seminar span.path {
    margin: 3px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-family: Courier, monospace, Courier New, Console;
    font-size: 12px;
}

div.section h1.name {
    width: 100%;
    color: rgb(90,90,90);
    font-family: Courier, monospace, Courier New, Console;
    font-size: 32px;
    margin-bottom: 10px;
}

div.section pre.description {
    width: 100%;
    color: rgb(90,90,90);
    font-family: Courier, monospace, Courier New, Console;
    font-size: 16px;
    margin-bottom: 15px;
}

div.section a.button {
    margin: 3px;
}    

div.section div.content {
    width: 100%;
    margin-top: 25px;
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
}

div.section div.content p img {
    border: 2px dashed red;
    box-shadow: 9px 9px 15px #999;
}

div.section div.premium {
    margin-top: 25px;
    margin-bottom: 15px;
}

div.section div.done {
    width: 100%;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

div.sections-contaier {
    position: fixed;
    right: 5px;
    top: 45px;
    bottom: 0px;
    overflow-y: scroll;
}

a.upgrade {
    text-decoration:none;
}

a.upgrade div {
    line-height:1.2;
    padding:25px;
    color:white;
    background-color:red;
    border-radius:15px;
    font-size:36px;
    text-decoration:none;
    line-height: 1.8;
}

div.sections-contaier div.sections {
    position: absolute;  
}

@media (max-width: 767px) {
    div.sections-contaier {
        visibility:hidden;
    }

    div.sections-contaier div.sections  {
        visibility:hidden;
    }
}

div.sections section.section {
    margin-top: 5px;
    padding-top: 5px;
}

div.sections section.section a.disabled {
    color: gray;
}

div.gradient {
    opacity: 0.5;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    border-bottom: 0px;
}

div.gradient div.premium{
    opacity:1.0;
}